@font-face {
    font-family: 'LeferiPoint-BlackObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Header-con {
    width: 100%;
    background-color: #010101;
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(197, 197, 211); */
    padding-top: 20px;
    border-radius: 20px 20px 0 0 ;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
.Header-con p {
    font-family: 'LeferiPoint-BlackObliqueA';
    line-height: 50px;
    margin: 0 20px;
    color: #fffffe;
}
